:root{
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-reddish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}


/*-------HEADER--------*/


.header {
    box-shadow: 0px 3px 6px #00000029;
    height: 70px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo {
    font-family: var(--font-raleway);
    font-size: 32px;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: lighter;
}

.header-navigation {
    display: flex;
    margin-top: 2px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.28px;
}

.header-navigation-element {
    padding: 0 43px;
}

.header-navigation-element:last-child {
    padding-right: 18px;
}

.nav-element {
    text-decoration: none;
    color: var(--color-grey);
    border-bottom: 3px solid transparent;
    padding: 28px 0 24px;  /*-------DLACZEGO???-------*/
}

.nav-element:hover {
    color: var(--color-black);
    border-bottom-color: var(--color-primary);
}


/*------MAIN-------*/
/*------OPENING-------*/


.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening-content {
    margin-top: 130px;
    display: inline-block;
    text-align: center;
}

.opening-header {
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 20px;
}

.opening-text {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 60px;
}

.btn {

}

.btn-primary {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    background-color: var(--color-primary);
    padding: 22px 157px 23px 157px;
    color: var(--color-white);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.opening-img {
    margin-top: 15px;
    height: auto;
    width: 100%;

}


/*------STATISTICS------*/



.statistics-title {
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: normal;
    margin-top: 100px;
    text-align: center;
}

.statistics-container {
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
    max-width: 823px;
}

.statistics-container-single {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-raleway);
    max-width: 163px;
    text-align: center;
}

.statistics-circle {
    border-radius: 50%;
    width: 62.71px;
    height: 62.71px;
    position: relative;
}

.statistics-img {
    position: absolute;
}

.statistics-container-single:nth-child(1) .statistics-circle {
    background-color: var(--color-reddish);
}

.statistics-container-single:nth-child(1) .statistics-img {
    left:48%;
    top:0;
}

.statistics-container-single:nth-child(2) .statistics-circle {
    background-color: var(--color-primary);
}

.statistics-container-single:nth-child(2) .statistics-img {
    left: 33%;
    top: 14px;
}

.statistics-container-single:nth-child(3) .statistics-circle {
    background-color: var(--color-green);
}

.statistics-container-single:nth-child(3) .statistics-img {
    left: 50%;
    top: 6px;
}

.statistics-number {
    margin-top: 13px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5.96px;
}

.statistics-text {
    margin-top: 19px;
}


/*------BENEFITS-------*/

.benefits {
    background-color: var(--color-light-grey);
    padding: 105px 0;
}

.benefits-container {
    max-width: 1124px;
}

.benefits-single {
    background-color: var(--color-white);
    display: flex;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    max-height: 370px;

}

.benefits-phone, .benefits-trumpet, .trumpet {
    margin-top: 37px;
}

.benefits-notebook .benefits-text {
    max-width: 416px;
    margin: 91px 35px;
    box-sizing: content-box; /*------Dlaczego???------*/

}

.benefits-text .benefits-single-text {
    line-height: 22px;
}

.benefits-notebook {
    justify-content: space-between;
    align-items: center;
}

.benefits-notebook .benefits-img {
    margin-bottom: 38px;
    margin-right: 117px;
    margin-top: 113px;

}

.benefits-notebook .benefits-img img {
    height: 219px;
    width: 386px;
    z-index: 2;
    position: relative; /*-----DLACZEGO?-----*/
}

.benefits-notebook .benefits-img::before {
    content: "";
    height: 180px;
    width: 180px;
    background-color: #FB3B64;
    border-radius: 41px;
    position: absolute;
    transform: rotate(45deg);
    top: -40px;
    right: 0;
}

.benefits-notebook .benefits-text::after {
    content: "";
    height: 4px;
    width: 328px;
    background-color: #FB3B64;
    display: block; /*-----DLACZEGO?-----*/
    margin-top: 46px;
}

.benefits-img {
    position: relative;
    display: flex;
    align-items: center;
}

.benefits-text-third {
    max-width: 553px;
}

.benefits-title {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin-bottom: 30px;
}
.benefits-single-text {
    font-family: var(--font-open-sans);
    font-size: 16px;
}


.benefits-phone .benefits-img img {
    width: 426px;
    height: 328px;
    position: relative;
}

.benefits-phone {
    padding-top: 29px;
    padding-left: 70px;
    display: flex;
    justify-content: space-between;
}

.benefits-phone .benefits-img::before {
    content: "";
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #07ACE6;
    position: absolute;
    left: 0;
    top: -15px;
}

.benefits-phone-text {
    margin-bottom: 70px;
    max-width: 416px;
    margin-right: 20px;
    margin-top: 69px;
}

.benefits-phone-text::after {
    content: "";
    height: 4px;
    width: 328px;
    background-color: #08A6E4;
    display: block; /*-----DLACZEGO?-----*/
    margin-top: 50px;
}

.benefits-third-content {
    display: flex;
    justify-content: space-between;
}

.benefits-trumpet {
    width: 623px;
    margin-right: 61px;
}

.trumpet {
    background-color: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    height: 370px;
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trumpet img {
    width: 295px;
    height: 207px;
    margin-top: 40px; /*-----Dlaczego nie mogę inaczej tego obrazka przesunąć centralnie na środek?-----*/
}

.benefits-text-third {
    margin: 69px 34px 70px 35px;
}

.benefits-text-third h2 {
    margin-right: 240px;
}

.benefits-text-third::after {
    content: "";
    height: 4px;
    width: 328px;
    background-color: #55DFB4;
    display: block; /*-----DLACZEGO?-----*/
    margin-top: 50px;
}


/*------PRICING-------*/


.pricing {
    margin: 100px auto;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.pricing-box-basic {
    margin-right: 59px;
}

.pricing-box-premium {
    margin-left: 58px;
}

.pricing h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
}

.pricing-type {
    font-family: var(--font-raleway);
    font-size: 20px;
    font-weight: bold;
}

.pricing-price {
    font-family: var(--font-open-sans);
    font-size: 46px;
    font-weight: lighter;
}

.basic .pricing-details .pricing-price {
    color: var(--color-reddish);
}

.professional .pricing-details .pricing-price {
    color: #07ACE6;
}

.premium .pricing-details .pricing-price {
    color: var(--color-green);
}

.prices-limited-offer {
    font-family: var(--font-raleway);
    font-weight: bold;
    font-size: 12px;
    color: #13253B;
}

.pricing-items {
    font-family: var(--font-open-sans);
    font-size: 14px;
    /*text-align: center;*/
}

.pricing-box {
    border: 1px solid;
    border-radius: 18px;
}

.pricing-box-basic, .pricing-box-premium {
    width: 372px;
    height: auto;
}

.pricing-box-basic {
    border-color: var(--color-reddish);
}

.basic .pricing-items {
    margin-top: 69px;
}

.premium .pricing-items {
    margin-top: 50px;
}

.basic .pricing-details, .premium .pricing-details {
    margin-top: 34px;
}

.basic .pricing-items .pricing-item, .premium .pricing-items .pricing-item {
    margin-bottom: 20px;
}

.pricing-box-premium {
    border-color: var(--color-green);
}

.professional {
    margin-bottom: 53px;
}

.pricing-box-professional {
    width: 405px;
    border-color: #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing-details .pricing-type {
    margin-top: 34px;
    margin-bottom: 14px;

}

.professional .pricing-details .prices-limited-offer {
    margin-top: 15px;
    margin-bottom: 61px;
}

.professional .pricing-items .pricing-item {
    margin: 25px auto;
}

.premium .pricing-details .prices-limited-offer {
    margin-top: 15px;
    margin-bottom: 50px;
}

.basic .pricing-details {
    margin-bottom: 69px;
}

.basic .pricing-items, .premium .pricing-items {
    margin-bottom: 55px;
}

.prices-btn {
    width: 150px;
    height: 50px;
    position: relative;
    bottom: -8px;
    border-radius: 23px;
    padding: 16px 57px;
    font-size: 13px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-white);
}

.btn-reddish {
    background-color: var(--color-reddish);
}

.btn-green {
    background-color: var(--color-green);
}

.prices-btn-professional {
    width: 165px;
    height: 50px;
    position: relative;
    bottom: -8px;
    border-radius: 23px;
    background-color: #07ACE6;
    padding: 16px 64px;
    font-size: 13px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-white);
}

.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url("../assets/Ckechmark-1.svg");
    display: inline-block;
    margin-right: 10px;
}

.pricing-item-not-included::before {
    content: "";
    width: 11px;
    height: 11px;
    background-image: url("../assets/Close.svg"); /*Dlaczego nie zawsze działa?*/
}


/*------FORM------*/





/*------FOOTER--------*/


.footer {
    box-shadow: 0 -5px 40px #00000029;
    background-color: var(--color-light-grey); /*-----Czemu się nie wyświetla tło?-----*/
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-copyright {
    margin-left: 137px;
    display: flex;
    flex-direction: column;

}

.footer-copyright span {
    margin-top: 7px;
}

.footer-icons {
    margin-right: 136px;
}

.footer-icons a:first-of-type {
    margin-right: 20px;
}

.copyright {
    font-family: var(--font-open-sans);
    font-size: 11px;
    color: var(--color-grey);
}