:root{
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-reddish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*-------HEADER--------*/

.header {
    box-shadow: 0px 3px 6px #00000029;
    height: 70px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-logo {
    font-family: var(--font-raleway);
    font-size: 32px;
    color: var(--color-primary);
    text-decoration: none;
    font-weight: lighter;
}

.header-navigation {
    display: flex;
    margin-top: 2px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.28px;
}

.header-navigation-element {
    padding: 0 43px;
}

.header-navigation-element:last-child {
    padding-right: 18px;
}

.nav-element {
    text-decoration: none;
    color: var(--color-grey);
    border-bottom: 3px solid transparent;
    padding: 28px 0 24px;  /*-------DLACZEGO???-------*/
}

.nav-element:hover {
    color: var(--color-black);
    border-bottom-color: var(--color-primary);
}

/*------MAIN-------*/
/*------OPENING-------*/

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening-content {
    margin-top: 130px;
    display: inline-block;
    text-align: center;
}

.opening-header {
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 20px;
}

.opening-text {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 60px;
}

.btn {

}

.btn-primary {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    background-color: var(--color-primary);
    padding: 22px 157px 23px 157px;
    color: var(--color-white);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.opening-img {
    margin-top: 15px;
    height: auto;
    width: 100%;

}

/*------STATISTICS------*/



.statistics-title {
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: normal;
    margin-top: 100px;
    text-align: center;
}

.statistics-container {
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
    max-width: 823px;
}

.statistics-container-single {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-raleway);
    max-width: 163px;
    text-align: center;
}

.statistics-circle {
    border-radius: 50%;
    width: 62.71px;
    height: 62.71px;
    position: relative;
}

.statistics-img {
    position: absolute;
}

.statistics-container-single:nth-child(1) .statistics-circle {
    background-color: var(--color-reddish);
}

.statistics-container-single:nth-child(1) .statistics-img {
    left:48%;
    top:0;
}

.statistics-container-single:nth-child(2) .statistics-circle {
    background-color: var(--color-primary);
}

.statistics-container-single:nth-child(2) .statistics-img {
    left: 33%;
    top: 14px;
}

.statistics-container-single:nth-child(3) .statistics-circle {
    background-color: var(--color-green);
}

.statistics-container-single:nth-child(3) .statistics-img {
    left: 50%;
    top: 6px;
}

.statistics-number {
    margin-top: 13px;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5.96px;
}

.statistics-text {
    margin-top: 19px;
}